<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Richi Priego</h1>
    <p>Welcome to week 2 of Mackenzie Child's 12 Web Apps in 12 Weeks Challenge.</p>
    <p>I am doing his 12 weeks challenge to keep my mind fresh on what I've learned while attending an 11 week bootcamp focused on Ruby and Rails.</p>
    <p>These tutorials help me with ideas and styling.  I've enjoyed these simple tutorials, and I feel like anyone who is looking to learn or continue learning Rails should follow these tutorials.</p>
  
    <p>If you'd like to learn how to build this with Ruby on Rails, follow Mackenzie Child on Twitter <a href="http://twitter.com/mackenziechild">@MackenzieChild</a> or on the web at <a href="http://mackenziechild.me">mackenziechild.me</a>, and get posts and exclusive content in your inbox by signing up for his newsletter <a href="http://eepurl.com/02olT">here</a>.</p>
  </div>
</div>